*{
  margin: 0%;
  padding: 0%;
}

.header{
  background-color: #252323;
  height: 60px;
}
.logo{
  height: 100%;
  margin:0 auto;
  width: 980px;
  position: relative;
}
.logo img{
  padding: 15px; 
  float: left;
  
}
.social{
  float: right;
}
.social ul li{
  display: inline-block;
}
.menu-principal{
  background-color: #ffffff;
  height: 81px;
  border-bottom: 4px solid #efefef;
}
.menu{
  height: 100%;
  margin:0 auto;
  width: 980px;
  position: relative;
}
.menu ul{
  float: left;
}
.menu ul li {
  padding-top: 30px;
  display: inline-block;
  height: 50px;
}
.menu ul li a{
  text-decoration: none;
  color: #8B8B8B;
  margin-left: 15px;
  font-size: 14px;
}
.menu ul li:hover {
  border-bottom: 2px solid #00bac6;
}
.menu ul li a:hover {
  color: #00bac6; 
}
.buscar{
float: right;
padding: 10px;
padding-top: 20px;
}
.buscar input{
  background-image: url('img/lupa.png');
  background-repeat: no-repeat;
  height: 36px;
  width: 197px;
  border: 1px solid #8B8B8B;
  background-position: 95%;
}
.banner img{
  width: 100%;
}
main{
  height: 100%;
  margin:0 auto;
  width: 980px;
  position: relative;
}
.text{
  padding-top: 55px;
  text-align: center;
  color: #8B8B8B;
}
.text p{
  font-size: 16px;
}
strong{
  color:#000000;
}
.text2{
  padding-top: 45px;
}
.text2 ul li{
  display:inline-block;
  list-style: none;
  width: 33%;
}
.mac{
  color: #8B8B8B;
  
}
.mac img{
  padding-left:100px;
}
.mac h1{
  text-align: center;
  font-size: 30px;
}
.mac p{
  text-align: center;
}
.pencil{
  color: #8B8B8B;
}
.pencil img{
  padding-left:100px;
}
.pencil h1{
  text-align: center;
  font-size: 30px;
}
.pencil p{
  text-align: center;
}
.photo{
  color: #8B8B8B;
}
.photo img{
  padding-left:100px;
}
.photo h1{
  text-align: center;
  font-size: 30px;
}
.photo p{
  text-align: center;
}

